.movie-list-container {
    margin-left: 200px;
    width: 70%;
    padding: 10px;
}

.background {
    background-color: rgb(36, 35, 35);
}





h1 {
    /* float: right; */
    margin-left: 5%;
    color: white;
    /* margin-right: 50%; */
}
